@{
    ViewBag.Title = WebConfigs.Config.platname;
    ViewBag.Menu = "/";
}
@using vgo.frontsite004.Models

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/index.css" />
}

<div class="layout home-tpl-1">
    <div class="module-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <a class="swiper-slide" href="javascript:;"><img src="/Content/images/index/banner.png" /></a>
                <a class="swiper-slide" href="javascript:;"><img src="/Content/images/index/banner1.png" /></a>
                <a class="swiper-slide" href="javascript:;"><img src="/Content/images/index/banner2.png" /></a>
                <a class="swiper-slide" href="javascript:;"><img src="/Content/images/index/banner3.png" /></a>
                <a class="swiper-slide" href="javascript:;"><img src="/Content/images/index/banner4.png" /></a>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="row panolist">
        <div class="wrapper">
            <div class="r-title">
                <h2>VR全景展示·花样世界</h2>
                <div class="sub-title">VR全景结合行业特点，让商圈展示自带亮点</div>
            </div>
            <div class="content">
                <ul class="pano-list clearfix">
                    @if (ViewBag.List != null)
                    {
                        foreach (Pano item in ViewBag.List)
                        {
                            <li class="item">
                                <a class="images-box" href="@item.panoview_url" target="_blank">
                                    <div class="cover"><img src="@item.icon_src" /></div>
                                    <div class="info">
                                        <div class="qrcode"><img src="@("/common/qrcode?data=" + HttpUtility.UrlEncode(item.panoview_url))" /></div>
                                        <div class="count">
                                            <div class="praise"><i class="iconfont icon-qinziAPPtubiao-"></i><span>@item.praisecount</span></div>
                                            <div class="views"><i class="iconfont icon-liulanliang"></i><span>@item.seecount</span></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttom">
                                    <a class="title omit" href="@item.panoview_url" target="_blank">@item.pano_name</a>
                                    <div class="author">
                                        <i class="iconfont icon-zuozhe"></i><span>作者:</span>
                                        <a class="name omit" href="@(WebConfigs.GetDetailPagePath("photographer", item.user_id))">@item.user_nickname</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row oem bg-gray" id="advantage">
        <div class="wrapper">
            <div class="r-title">
                <h2>拍加优势</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="item fl">
                        <div class="info">
                            <span class="icon icon-tv"></span>
                            <span class="item-title">打造多行业智慧商圈</span>
                        </div>
                        <p class="item-desc">
                            拍加打破传统电商，让商圈更智慧，让传统购物中心消费升级，让消费者体验智能购物环境、实现VR线上购物，让商家与消费者拥有更多营销互动，从而形成商圈闭环，拥有抢占先机的营销优势。
                        </p>
                    </div>
                    <div class="item fr photo">
                        <div class="wrap">
                            <img src="/content/images/index/oem_pc.png" alt="">
                            <div class="icon-item icon-item-pc"><img src="/content/images/index/oem_comput.png" alt=""></div>
                            <div class="icon-item icon-item-vr"><img src="/content/images/index/oem_vr.png" alt=""></div>
                            <div class="icon-item icon-item-sys"><img src="/content/images/index/oem_sys.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="row line"></div>
                <div class="row">
                    <div class="item fl photo-st bounceInUp delay-2s"><img src="/content/images/index/oem_st.png" alt=""></div>
                    <div class="item fr">
                        <div class="info">
                            <span class="icon icon-star"></span>
                            <span class="item-title">我们能为入驻商家带来</span>
                        </div>
                        <p class="item-desc">
                            拍加提供门店VR全景拍摄以及平台展示，让商家不再受到传统展示手段的制约，解决行业痛点实现精准营销。拍加小程序平台提供大流量入口，通过预约功能进行线下引流，助力商户提供一站式服务，给消费者带来身心的享受。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profit">
        <div class="wrapper">
            <div class="r-title">
                <h2>我们能为您提供的服务</h2>
                <div class="sub-title">我们将秉持着“客户至上”的理念服务</div>
            </div>
            <div class="content">
                <div class="row item-top">
                    <div class="item item-hover">
                        <div class="icon"><i class="iconfont icon-xiangjizhuanhuan"></i></div>
                        <h4>展示平台</h4>
                        <p>全景展示小程序平台 </p>
                        <p>首页推荐及全景展示</p>
                        <p>多行业入驻</p>
                        <p>对接第三方平台及公众号</p>
                    </div>
                    <div class="item item-hover">
                        <div class="icon"><i class="iconfont icon-guanggaozu"></i></div>
                        <h4>拍摄制作</h4>
                        <p>高水平的全景拍摄制作团队</p>
                        <p>现场取景</p>
                        <p>合成制作</p>
                        <p>完善优化</p>
                    </div>
                    <div class="item item-hover">
                        <div class="icon"><i class="iconfont icon-qian"></i></div>
                        <h4>场景编辑</h4>
                        <p>根据商家要求制作行业应用场景</p>
                        <p>基于行业类型  制定行业应用场景</p>
                        <p>基于产品定位  制定产品推广场景</p>
                        <p>基于营销需求  制定特定营销场景</p>
                    </div>
                </div>
                <div class="row item-bt">
                    <div class="item item-hover">
                        <div class="icon"><i class="iconfont icon-zhuanye"></i></div>
                        <h4>功能应用</h4>
                        <p>开发海量功能满足多种行业需求</p>
                        <p>50+全景营销插件</p>
                        <p>社交互动弹幕分享</p>
                        <p>在线预约交易</p>
                    </div>
                    <div class="item item-hover">
                        <div class="icon"><i class="iconfont icon-zhaopin"></i></div>
                        <h4>增值服务</h4>
                        <p>高实用性增值服务免费提供</p>
                        <p>全景制作平台会员账号</p>
                        <p>全景二维码及链接</p>
                        <p>全景原图文件</p>
                    </div>
                    <div class="item item-bgimg"><img src="/content/images/index/profit_bg.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row together">
        <div class="wrapper">
            <div class="r-title">
                <h2>
                    合作流程
                </h2>
                <div class="sub-title">清晰的合作流程，让合作双方更加快速、便捷的成功建立合作</div>
            </div>
            <div class="content">
                <div class="line-lee">
                    <div class="lee-item">
                        <!---->
                        <div class="circle active">1</div>
                        <div class="line line-r"></div>
                    </div>
                    <div class="lee-item">
                        <div class="line line-l"></div>
                        <div class="circle">2</div>
                        <div class="line line-r"></div>
                    </div>
                    <div class="lee-item">
                        <div class="line line-l"></div>
                        <div class="circle">3</div>
                        <div class="line line-r"></div>
                    </div>
                    <div class="lee-item">
                        <div class="line line-l"></div>
                        <div class="circle">4</div>
                        <div class="line line-r"></div>
                    </div>
                    <div class="lee-item">
                        <div class="line line-l"></div>
                        <div class="circle">5</div>
                        <div class="line line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <div class="icon"><img src="/content/images/index/together1.png" alt=""></div>
                        <p>与渠道经理洽谈</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/content/images/index/together2.png" alt=""></div>
                        <p>合作拍加</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/content/images/index/together3.png" alt=""></div>
                        <p>拍摄制作全景</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/content/images/index/together4.png" alt=""></div>
                        <p>正式入驻</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/content/images/index/together5.png" alt=""></div>
                        <p>开展营销活动</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row support bg-opacity pos-r">
        <div class="mask"></div>
        <div class="wrapper pos-a">
            <div class="r-title">
                <h2>多行业覆盖</h2>
            </div>
            <div class="content">
                <ul class="list tac clearfix">
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support1.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>酒店/民宿</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support2.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>美食</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support3.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>电影</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support4.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>休闲/娱乐</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support5.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>汽车服务</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support6.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>旅游景点</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support7.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>生活服务</p>
                    </li>
                    <li class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/support8.png" alt=""></div>
                        <div class="line-dot"></div>
                        <p>拍摄培训</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row shared">
        <div class="wrapper">
            <div class="r-title">
                <h2>项目优势</h2>
            </div>
            <div class="content">
                <div class="list tac clearfix">
                    <div class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/share1.png" alt=""></div>
                        <h4>细节展示</h4>
                        <p>拍加小程序自带平台大流量，专业VR全景制作团队实地拍摄，让商户细节特色一览无余，自带闪光点！</p>
                    </div>
                    <div class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/share2.png" alt=""></div>
                        <h4>智慧营销</h4>
                        <p>拍加融合VR互动、720°实景展示、在线交易等功能为一体，50+营销插件可供商户开展时下最新颖好玩的营销活动！</p>
                    </div>
                    <div class="list-item">
                        <div class="icon pos-r"><img src="/content/images/index/share3.png" alt=""></div>
                        <h4>社交引流</h4>
                        <p>拍加自带高效社交推广优势，拥有预约订购功能，帮助商户打通线上线下渠道，平台化合作最大程度双向引流！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row interactive bg-gray">
        <div class="wrapper">
            <div class="r-title">
                <h2>互动功能模块矩阵</h2>
            </div>
            <div class="content tac" id="tabWrap">
                <div class="tab">
                    <span class="tab-item active">行业插件</span>
                    <span class="tab-item">营销插件</span>
                    <span class="tab-item">交互功能</span>
                </div>
                <ul class="tab-cont show" id="industry"></ul>
                <ul class="tab-cont" id="marketing"></ul>
                <ul class="tab-cont" id="interactive">
                    <img src="/content/images/index/plugin3.png" alt="">
                </ul>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="wrapper">
            <div class="r-title">
                <h2>小程序和VR全景可以给商家带来什么</h2>
            </div>
            <div class="content">
                <ul class="list clearfix">
                    <li class="list-item pos-r fl list-item text-item">
                        <div class="info">
                            <h4>让有意向的人更容易找到我们</h4>
                            <p>通过小程序的定位功能以及VR全景可以很轻松的获取到店路线，利于商家获取消费者，让距离不再成为限制。</p>
                        </div>
                    </li>
                    <li class="list-item pos-r fl list-item">
                        <div class="icon"><img src="/content/images/index/product1.png" alt=""></div>
                    </li>
                    <li class="list-item pos-r fl list-item text-item">
                        <div class="info">
                            <h4>让顾客更快速信任我们</h4>
                            <p>通过VR全景可将店铺环境细节展示，让消费者获得更真实的沉浸体验，从而对商家形成良好的初印象，获取信任度。</p>
                        </div>
                    </li>
                    <li class="list-item pos-r fl list-item">
                        <div class="icon"><img src="/content/images/index/product2.png" alt=""></div>
                    </li>
                    <li class="list-item pos-r fl list-item">
                        <div class="icon"><img src="/content/images/index/product3.png" alt=""></div>
                    </li>
                    <li class="list-item pos-r fl list-item text-item">
                        <div class="info">
                            <h4>把来到店里的顾客都留下来</h4>
                            <p>通过线上线下相互引流吸引消费者二次消费，更利于商家留住消费者，提高转化率。</p>
                        </div>
                    </li>
                    <li class="list-item pos-r fl list-item">
                        <div class="icon"><img src="/content/images/index/product4.png" alt=""></div>
                    </li>
                    <li class="list-item pos-r fl list-item text-item">
                        <div class="info">
                            <h4>把顾客购买意向全面激发</h4>
                            <p>商家可通过多种营销插件在全景内开展营销活动，在短时间内引起裂变营销反应，全面激发消费者的购买意向。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row scene bg-gray">
        <div class="wrapper">
            <div class="r-title">
                <h2>产品应用场景</h2>
            </div>
            <div class="content">
                <ul class="list clearfix">
                    <li class="list-item fl">
                        <div class="icon fl"><i class="iconfont icon-zhengwu"></i></div>
                        <div class="info fr">
                            <h4>政务服务</h4>
                            <p>通过全景实现政务服务场景可视化，包括政务导览、政务展示、城市规划展览展示、城市形象宣传航拍、城市建设成果汇报等。</p>
                        </div>
                    </li>
                    <li class="list-item fl">
                        <div class="icon fl"><i class="iconfont icon-hangye"></i></div>
                        <div class="info fr">
                            <h4>行业服务</h4>
                            <p>可应用到房产、汽车、旅游、家居、酒店、娱乐、商场等720°全景展示。 </p>
                        </div>
                    </li>
                    <li class="list-item fl">
                        <div class="icon fl"><i class="iconfont icon-qiye"></i></div>
                        <div class="info fr">
                            <h4>企业服务</h4>
                            <p>全景可快速将你的企业以720°3D全景的形式搬到互联网上，让你足不出户，彰显企业实力，促进销售转化。</p>
                        </div>
                    </li>
                    <li class="list-item fl">
                        <div class="icon fl"><i class="iconfont icon-qncyz"></i></div>
                        <div class="info fr">
                            <h4>创业服务</h4>
                            <p>全景拥有完善的全景创业体系，通过我们提供的技术培训、案例输出、市场指导让你快速通过VR全景变现。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row news">
        <div class="wrapper">
            <div class="r-title">
                <h2>行业新闻资讯</h2>
            </div>
            <div class="content">
                @if (ViewBag.NewsList != null)
                {
                    <ul class="list clearfix">
                        @foreach (News item in ViewBag.NewsList)
                        {
                            <li class="list-item fl">
                                <a class="icon fl" href="@(WebConfigs.GetDetailPagePath("news", item.id))" target="_blank"><img src="@item.full_cover_url" alt=""></a>
                                <div class="info fr">
                                    <h4 class="omit">@item.title</h4>
                                    <p class="omit2">@item.summary</p>
                                    <p class="clearfix mt10">
                                        <span class="fl">@item.created.ToString("yyyy-MM-dd")</span>
                                        <a href="@(WebConfigs.GetDetailPagePath("news", item.id))" class="fr" target="_blank">查看更多</a>
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Content/js/pages/index.js"></script>
}