<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(ViewBag.Description != null ? ViewBag.Description : WebConfigs.DefaultSeoDescription)">
    <meta name="Keywords" content="@(ViewBag.Keywords != null ? ViewBag.Keywords : WebConfigs.DefaultSeoKeywords)">
    <title>@ViewBag.Title</title>
    @* 基础样式引入 *@
    @{
        Html.RenderPartial("~/Views/Shared/_BaseHeader.cshtml");
    }
    @* 页面主体样式、脚本等 *@
    @RenderSection("head", required: false)
</head>
<body>
    @* 页头引入 *@
    @if (ViewBag.HideHeader == null)
    {
        Html.RenderPartial("~/Views/Shared/_Header.cshtml");
    }

    @* 页面主体 *@
    <div id="app">
        @RenderBody()
    </div>

    @if (ViewBag.HideFooter == null)
    {
        @* 页脚引入 *@
        Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
    }

    @* 页面主体脚本 *@
    @RenderSection("scripts", required: false)
</body>
</html>
