@{
    ViewBag.Title = "资讯";
    ViewBag.Menu = "/news";
}
@using Newtonsoft.Json
@using vgo.partner.frontsite.Models

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/news.css" />
}

<!-- banner-->
<div class="module-banner">
    <img src="/content/images/news/news-banner.jpg" />
    <h2>NEWS 全景新闻 让你离全景世界更进一步</h2>
</div>
<!-- content-->
<section class="module-content mt30">
    <div class="wrapper clearfix">
        <div class="news fl">
            <div class="news-category">
                @if (ViewBag.TypeList != null)
                {
                    foreach (NewsType type in ViewBag.TypeList)
                    {
                        <a class="button" v-bind:class="type_id == @type.id ? 'active': ''" @@click="typeClick(@type.id)">@type.name</a>
                    }
                }
            </div>
            <div class="news-list mt30">
                <div class="item-wrap" v-cloak>
                    <div class="item" v-for="item in list" v-bind:key="item.id">
                        <h3 class="title omit">
                            <a v-bind:href="detailPath + item.id" target="_blank">{{item.title}}</a>
                        </h3>
                        <div class="time">{{item.created | dateFilter}}</div>
                        <a class="img" v-bind:href="detailPath + item.id" target="_blank"><img v-bind:src="item.full_cover_url" /></a>
                        <p class="desc mt20 omit2">
                            {{item.summary}}
                            @*<span>... </span>*@
                            <a class="see-detail" v-bind:href="detailPath + item.id" target="_blank">查看详情></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="module-pagination">
                <el-pagination background layout="total, prev, pager, next" v-bind:total="total" v-bind:page-size="pageSize" v-bind:current-page="page"
                               @@current-change="getList" v-if="total > 0">
                </el-pagination>
                <div class="no-data" v-if="total == 0">暂无数据</div>
            </div>
        </div>
        <div class="news-recommend fr">
            <div class="title">最新新闻推荐</div>
            <div class="news-recommend-list">
                @if (ViewBag.HotList != null)
                {
                    foreach (News hot in ViewBag.HotList)
                    {
                        <div class="item-wrap">
                            <a class="item" href="@("/news/" + hot.id)" target="_blank">
                                <img class="img" src="@hot.full_cover_url" />
                                <span class="desc omit2">@hot.title</span>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="/Content/js/pages/news.js"></script>
    @{
        Html.RenderPartial("~/Views/Shared/_VueBase.cshtml");
        //详细页面路径
        string detailPath = "/news/";
    }

    <script type="text/javascript">
        (function () {
            var initData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.PagedList))
                initData = initData || {}

            new Vue({
                el: "#app",
                data() {
                    return {
                        detailPath: "@detailPath",
                        page: 1,
                        pageSize: 12,
                        list: initData.list || [],
                        total: initData.count || 0,
                        type_id: "@ViewBag.type_id"
                    }
                },
                methods: {
                    typeClick(id) {
                        this.type_id = id
                        this.getList(1)
                    },
                    getList(page) {
                        var self = this
                        this.page = page || 1
                        var data = {
                            type_id: this.type_id,
                            orderBy: ""
                        }
                        this.$service.getNewsList(this.page, this.pageSize, data, function (res) {
                            var data = res.data
                            self.list = data.list
                            self.total = data.count
                        })
                    }
                }
            })
        })();
    </script>
}